<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="layoutSidenav_nav" th:fragment="sidebar">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Home
                </a>
                <div class="sb-sidenav-menu-heading">미션</div>
                <a class="nav-link" href="/register">미션 등록</a>
                <a class="nav-link" href="/mission/management">미션 관리</a>
                <div class="sb-sidenav-menu-heading">포스팅</div>
                <a class="nav-link" href="/posting">포스팅 작성</a>
                <a class="nav-link" href="/posting/management">포스팅 관리</a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">로그인 한 사용자</div>
            <th:block th:if="${username} != null" th:text="${username}"></th:block>
        </div>
    </nav>
</div>
</html>