<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Charts - SB Admin</title>
</head>
<body class="sb-nav-fixed">
<th:block th:replace="fragments/navbar :: navbar"></th:block>
<div id="layoutSidenav">
    <th:block th:replace="fragments/sidebar :: sidebar"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="row">
                    <div class="col-10">
                        <h2 class="mt-4" th:text="${mission.getName()}"></h2>
                        <ol class="breadcrumb mb-4 col-8">
                            <li class="breadcrumb-item active" th:text="${mission.getOwnerName()}"></li>
                            <li class="breadcrumb-item active" th:text="${mission.owner.getEmail()}"></li>
                        </ol>
                    </div>
                    <form class="mb-4 mt-4 col-2" th:action="@{/mission/{missionId} (missionId=${mission.getId()})}"
                          method="post">
                        <button type="submit" class="mt-5 btn btn-primary">미션 참여하기</button>
                    </form>
                </div>
                <div class="card mb-4">
                    <div class="card-body" th:text="${mission.getContext()}">
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        참여자 목록
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>이름</th>
                                <th>이메일</th>
                                <th>참여한 날짜</th>
                                <th>오늘 미션 완료</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>이름</th>
                                <th>이메일</th>
                                <th>참여한 날짜</th>
                                <th>오늘 미션 완료</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="user : ${userList}">
                                <th th:text="${user.getName()}">Name</th>
                                <th th:text="${user.getEmail()}">Position</th>
                                <th th:text="${user.getJoinTime().toLocalDate()}"></th>
                                <th th:if="${user.postingCheck}">O</th>
                                <th th:unless="${user.postingCheck}">X</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        포스팅 목록
                    </div>
                    <div class="card-body" th:each="posting : ${postingList}">
                        <ol class="breadcrumb mb-4 col-8">
                            <li class="breadcrumb-item active" th:text="${posting.getTitle()}"></li>
                            <li class="breadcrumb-item active" th:text="${posting.getUser().getName()}"></li>
                            <li class="breadcrumb-item active" th:text="${posting.getUser().getEmail()}"></li>
                        </ol>
                        <div class="etc" th:text="${posting.getContext()}">
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:replace="fragments/footer :: footer"></th:block>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/js/datatables-simple-demo.js"></script>
</body>
</html>
