<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Dashboard - SB Admin</title>
</head>
<body class="sb-nav-fixed">
<th:block th:replace="fragments/navbar :: navbar"></th:block>
<div id="layoutSidenav">
    <th:block th:replace="fragments/sidebar :: sidebar"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">전체 미션</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">미션</li>
                </ol>
                <div class="row" th:each="mission : ${allMissions}">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">
                                <i class="fas fa-columns"></i>
                                <th:block th:text="${mission.getName()}"></th:block>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" th:href="@{/mission/{missionId} (missionId=${mission.getId()})}" th:text="${mission.getOwnerName()}"></a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:replace="fragments/footer :: footer"></th:block>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
</body>
</html>
